.Tratamientos {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.Tratamientos__titulo {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-gris-4);
  line-height: 1.15;
}

.Tratamientos__contenedor_grafico {
  flex: 1;
  display: flex;
  padding: 1.5rem 2rem 2rem 1rem;
  position: relative;
}

.Tratamientos__lineas_grafico {
  position: absolute;
  width: 100%;
  height: calc(100% - .75rem);
  display: flex;
  flex-direction: column;
}

.Tratamientos__linea_grafico {
  height: .15rem;
  border-top: .2rem solid var(--color-gris-1);
  flex: 1;
  margin-left: .5rem;
  position: relative;
}

.Tratamientos__linea_grafico:last-child {
  border: none;
}

.Tratamientos__linea_grafico::before {
  content: attr(valor);
  position: absolute;
  left: -3rem;
  transform: translateY(-50%);
  text-align: right;
  width: 2rem;
  color: var(--color-gris-4);
  font-weight: 300;
}

.Tratamientos__barras_grafico {
  display: flex;
  flex: 1;
  gap: 1rem;
  border-left: .2rem solid var(--color-gris-2);
  padding-left: 1rem;
}

.Tratamientos__barra {
  flex: 1;
  align-self: flex-end;
  border-radius: 1rem 1rem 0 0;
  justify-content: center;
  position: relative;
}

.Tratamientos__valor_barra {
  top: -1rem;
  font-size: .7rem;
  color: var(--color-gris-4);
  position: absolute;
}

.Tratamientos__barra--imvixa {
  background: var(--color-naranja-2);
}

.Tratamientos__barra--hexa {
  background: var(--color-celeste);
}

.Tratamientos__barra--nada {
  background: var(--color-gris-2);
}

.Tratamientos__separador_grupo_barras {
  flex: .5;
}

.Tratamientos__etiqueta_barra {
  bottom: -.25rem;
  font-size: .75rem;
  color: var(--color-gris-4);
  position: absolute;
  text-align: center;
  writing-mode: vertical-lr;
  font-weight: 300;
  transform: translateY(100%) rotate(220deg);
}

.Tratamientos__promedios {
  position: absolute;
  top: 2rem;
  right: .5rem;
  z-index: 2;
  font-weight: 300;
  line-height: 2.8;
  color: var(--color-gris-4);
  font-size: .9rem;
}