

input[typeform="number"] {
  text-decoration: none;
  width: 4em;
	font-size: 1em;
  border: none;
}

input[typeform="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[typeform=number]::-webkit-inner-spin-button, 
input[typeform=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

input[typeform=number]:focus {
  outline: none;
}

input[typeform="number"]:hover {
  outline: none;
}

.FormParametros__parametro_label:focus-within {
  border: 2px solid  var(--color-f) ;
}

.FormParametros__parametro_label {
  border-radius: 0.2em;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: .25em .5em .25em .25em;
  box-shadow: 0 .1em .15em rgba(0, 0, 0, .05);
  border: 1px solid var(--color-gris-2);
  font-size: 1em;
}

.FormParametros__parametro_label:hover {
  box-shadow: 0 .1em .15em rgba(0, 0, 0, .10);
  /* border: 1px solid var(--color-gris-3); */
}

.FormParametros__parametro_label:focus {
  box-shadow: 0 .1em .15em rgba(0, 0, 0, .10);
  border: 2px solid  var(--color-f) ;
  cursor: none;
}

.FormParametros__parametro {
  display: flex;
  flex-direction: column;
  color: var(--color-gris-4);
  margin-top: .5em;
  position: relative;
}

.FormParametros__parametro_label__button {
  background-color: var(--color-gris-1);
  color: var(--color-gris-4);
  display: inline-block;
  padding: 0.5em;
	font-size: 1em;
  text-align: center;
  margin-right: .5em;
}
