.Formulario {
  width: 100vw;
  min-width: 40em;
  min-height: 100vh;
  max-height: 100vh;
  padding: 3rem 0 4rem 0;
  background-color: var(--color-azul);
  display: flex;
  justify-content: center;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, var(--color-azul) 5px ), repeating-linear-gradient( #2a3b5e55, var(--color-azul));
  overflow-x: auto;
  font-size: 16px;
}

.Formulario__contenedor {
  display: flex;
  flex-direction: column;
  min-width: 650px;
  width: 650px;
  min-height: 600px;
  max-height: 800px;
  background-color: var(--color-fondo);
  box-shadow: 0 .2em 1em rgba(0, 0, 0, .25);
}

.Formulario__header {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var(--color-azul);
  padding: 1em 2em;
}


.Formulario__titulo {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  /* font-size: 0.8em; */
  font-weight: bold;
  text-align: center;
  align-items: center;
}

.Formulario__stepper_paso {
  font-size: 1.8em;
  margin-bottom: 1em;
  align-items: center;
  gap: 0.5em;
  display: flex;
}

.Formulario__stepper_paso::before {
  width: 1em;
  height: 1.25em;
  content: '';
  background: var(--color-azul);
  display: block;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.Formulario__body {
  position: relative;
  display: flex;
  flex: 3;
  flex-direction: column;
  padding: 2em;
  overflow-y: auto;
}

.Formulario__design {
  display: flex;
}

.Formulario__title {
  color: var(--color-fondo);
  font-size: 10em;
  width: 4em;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-right: 5em;
}

.Formulario__logo_elanco {
  width: 5em;
  bottom: .5em;
  right: 1em;
}

.Formulario__logo_imvixa {
  width: 6em;
  margin-right: 1em;
}

.logos {
  display: flex;
}

.Formulario__botones {
  display: flex;
  margin: 0em 2em 2em 2em;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.Formulario__boton {
  background-color: var(--color-gris-2);
  padding: .8em;
  color: white;
  cursor: not-allowed;
  text-align: center;
  border: none;
  outline: inherit;
  transition: all .25s ease;
  font-size: .9em;
  border-radius: .25em;
  box-shadow: none;
}


.Formulario__boton--activo {
  background-color: var(--color-azul);
  cursor: pointer;
}


.Formulario__boton--activo:hover {
  filter: brightness(115%);
  box-shadow: 0 .1em .25em rgba(0, 0, 0, .15);
}

.Formulario__error {
  margin-top: 1em;
  border-radius: 1em;
  background-color: var(--color-naranja-transparent);
  padding: .5em .3em;
  font-size: 0.7em;
  text-align: center;
}