.App {
  display: flex;
  flex-direction: column;
  --color-fondo: rgb(242, 248, 250);
  --color-gris-1: rgb(237, 237, 237);
  --color-gris-2: rgb(200, 199, 199);
  --color-gris-3: rgb(178, 178, 178);
  --color-gris-4: rgb(114, 112, 112);
  --color-amarillo: rgb(249, 179, 52);
  --color-naranja: rgb(235, 89, 60);
  --color-naranja-imvixa: rgb(244, 129, 41);
  --color-celeste: rgb(145, 190, 213);
  --color-azul: rgb(47, 66, 105);
  font-family: 'Fira Sans', sans-serif;
}
