.FormIndustria {
  display: flex;
  flex-direction: column;
  gap: .85em;
  margin-top: -1em;
}

.FormIndustria__seccion {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.FormIndustria__seccion_label {
  margin-bottom: 0em;
}

.FormIndustria__seccion_descripcion {
  font-size: 0.7em;
  line-height: 1em;
  color: var(--color-gris-4);
}

.FormIndustria__label {
  margin-right: .5em;
  margin-bottom: .25em;
  color: black;
  position: absolute;
  z-index: 2;
  top: calc((100% - 2em) / 2); 
  left: .25em;
  background: var(--color-gris-1);
  padding: .25em .25em;
  width: 4em;
  color: 1px solid var(--color-gris-2);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FormIndustria__parametros {
  display: flex;
  gap: 1em;
}

.FormIndustria__parametro {
  display: flex;
  flex-direction: column;
  color: var(--color-gris-4);
  margin-top: .5em;
  position: relative;
}

input[typeform="locale-decimal"] {
  text-decoration: none;
  width: 4em;
  border: none;
}

input[typeform="locale-decimal"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[typeform=locale-decimal]::-webkit-inner-spin-button, 
input[typeform=locale-decimal]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

input[typeform=locale-decimal]:focus {
  outline: none;
}

input[typeform=locale-decimal]:hover {
  outline: none;
}

.FormIndustria__parametro__label:focus-within {
  border: 1px solid  var(--color-b) ;
}

.FormIndustria__parametro__label {
  border-radius: 0.2em;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: .25em .5em .25em .25em;
  box-shadow: 0 .1em .15em rgba(0, 0, 0, .05);
  border: 1px solid var(--color-gris-2);
  font-size: .75em;
}

.FormIndustria__parametro__label:hover {
  box-shadow: 0 .1em .15em rgba(0, 0, 0, .10);
  /* border: 1px solid var(--color-gris-3); */
  border: 1px solid  var(--color-b) ;
}

.FormIndustria__parametro__label__button {
  background-color: var(--color-gris-1);
  color: var(--color-gris-4);
  display: inline-block;
  padding: 0.25em;
  width: 4em;
  text-align: center;
  margin-right: .5em;
}
