.FormParametros__seccion {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.FormParametros__seccion_label {
  margin-bottom: 0.5rem;
}

.FormParametros__seccion_descripcion {
  font-size: 0.7rem;
  color: var(--color-gris-4);
}

.FormParametros__calendarios {
  display: flex;
  gap: 2rem;
}

.FormParametros__calendario {
  display: flex;
  flex-direction: column;
  color: var(--color-gris-4);
  margin-top: 1rem;
  position: relative;
}

.FormParametros__label {
  margin-right: .5rem;
  font-size: 1rem;
  margin-bottom: .25rem;
  color: black;
  position: absolute;
  z-index: 2;
  top: calc((100% - 2rem) / 2); 
  left: .25rem;
  background: var(--color-gris-1);
  padding: .25rem .25rem;
  height: 2rem;
  width: 6rem;
  color: 1px solid var(--color-gris-2);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FormParametros__datepicker {
  font-size: 1rem;
  padding: .35rem 0 .35rem 7rem;
  border-radius: .25rem;
  box-shadow: 0 0 0 1px var(--color-gris-2);
  border: none;
  width: 13rem;
  height: 2.5rem;
  cursor: pointer;
}

.FormParametros__grupo {
  display: flex;
  gap: 2rem;
}

.FormParametros__elemento {
  display: flex;
  flex-direction: column;
  width: 40%;
}