.FormParametros__seccion {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.FormParametros__seccion_label {
  margin-bottom: 0.5em;
}

.FormParametros__seccion_descripcion {
  font-size: 0.7em;
  color: var(--color-gris-4);
}

.FormParametros__calendarios {
  display: flex;
  gap: 2em;
}

.FormParametros__calendario {
  display: flex;
  flex-direction: column;
  color: var(--color-gris-4);
  margin-top: 1em;
  position: relative;
}

.FormParametros__label {
  margin-right: .5em;
  font-size: 1em;
  margin-bottom: .25em;
  color: black;
  position: absolute;
  z-index: 2;
  top: calc((100% - 2em) / 2); 
  left: .25em;
  background: var(--color-gris-1);
  padding: .25em .25em;
  height: 2em;
  width: 6em;
  color: 1px solid var(--color-gris-2);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FormParametros__datepicker {
  font-size: 1em;
  padding: .35em 0 .35em 7em;
  border-radius: .25em;
  box-shadow: 0 0 0 1px var(--color-gris-2);
  border: none;
  width: 13em;
  height: 2.5em;
  cursor: pointer;
}

.FormParametros__grupo {
  display: flex;
  gap: 2em;
}

.FormParametros__elemento {
  display: flex;
  flex-direction: column;
  width: 40%;
}