.FormParametros__seccion {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.FormParametros__seccion_label {
  margin-bottom: 0.5rem;
}

.FormParametros__seccion_descripcion {
  font-size: 0.7rem;
  color: var(--color-gris-4);
}

.FormParametros__calendarios {
  display: flex;
  gap: 2rem;
}

.FormParametros__calendario {
  display: flex;
  flex-direction: column;
  color: var(--color-gris-4);
  margin-top: 1rem;
  position: relative;
}

.FormParametros__label {
  margin-right: .5rem;
  font-size: 1rem;
  margin-bottom: .25rem;
  color: black;
  position: absolute;
  z-index: 2;
  top: .15rem;
  left: .15rem;
  background: var(--color-gris-1);
  padding: .25rem .25rem;
  width: 5rem;
  text-align: center;
  color: 1px solid var(--color-gris-2);
  pointer-events: none;
}

.FormParametros__datepicker {
  font-size: 1rem;
  padding: .35rem 0 .35rem 6rem;
  border-radius: .15rem;
  outline: 1px solid var(--color-gris-2);
  border: none;
  width: 13rem;
  cursor: pointer;
}