.CurvaPorPeso {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 80%;
}

.CurvaPorPeso__titulo {
  color: var(--color-gris-4);
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.15;
  display: flex;
  gap: 1rem;
  width: 100%;
}

.CurvaPorPeso__titulo::before {
  width: 1.5rem;
  height: 2rem;
  content: '';
  background: var(--color-amarillo);
  display: block;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.CurvaPorPeso__contenedor_grafico {
  display: flex;
  flex: 1;
  max-height: 85%;
}

.CurvaPorPeso__contenedor_grafico__error {
  color: var(--color-gris-4);
}

@media print {
  canvas {
      width: 100%!important;
      height: auto!important;
  }
}