.ResultadosEficacia {
  --color-titulo-seccion: var(--color-i);
  display: grid;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  grid-template: 2rem 1fr / 1fr 1.25fr;
  gap: 0 1rem;
}

.Salmones__imagen {
  /* position: absolute; */
  width: 80%;
  align-self: center;
  justify-self: center;
}