.FormPrevisualizador__botones {
  display: flex;
  margin: 2em 2em 2em 2em;
  justify-content: space-between;
}

.FormPrevisualizador__boton {
  background-color: var(--color-gris-2);
  padding: .8em;
  color: white;
  cursor: not-allowed;
  text-align: center;
  border: none;
  outline: inherit;
  transition: all .25s ease;
  font-size: .9em;
  border-radius: .25em;
  box-shadow: none;
}

.FormPrevisualizador__boton--activo {
  background-color: var(--color-azul);
  cursor: pointer;
}

.FormPrevisualizador__boton:hover {
  filter: brightness(115%);
  box-shadow: 0 .1em .25em rgba(0, 0, 0, .15);
}

.FormPrevisualizador__boton--inactivo {
  background-color: var(--color-gris-3);
  cursor: pointer;
}