.CuadroResumen {
	/* background-color: var(--color-gris-2); */
	background-color: white;
	padding: 2rem 3rem 2rem 3rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
  border: .15rem dotted var(--color-gris-4);
	gap: 2rem;
}

.CuadroResumen__elemento {
	display: flex;
	flex: 1;
	max-width: calc(50% - 1rem);
	min-width: calc(50% - 1rem);
	border-bottom: 0.15rem dotted  var(--color-gris-4) ;
	gap: .5rem;
}

.CuadroResumen__label {
	flex: 3;
	font-weight: bold;
	font-size: 1.3rem;
}

.CuadroResumen__value {
	flex: 4;
	font-size: 1.3rem;
}

.CuadroResumen__input {
	position: relative;
  bottom: .2rem;
  text-decoration: none;
  width: 19rem;
  border: none;
	background-color: var(--color-gris-2);
	font-size: 1.3rem;
}

.CuadroResumen__input {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.CuadroResumen__input::-webkit-inner-spin-button, 
.CuadroResumen__input::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.CuadroResumen__input:focus {
  outline: none;
	background-color: var(--color-highlight-blue) !important;
}

.CuadroResumen__input:hover {
  outline: none;
}