.DatosEmpresa {
  padding-top: 1rem;
}

.DatosEmpresa__nombre {
  font-weight: 700;
  font-size: 3.75rem;
  color: var(--color-gris-4)
}

.DatosEmpresa__subtitulo {
  font-weight: 600;
  font-size: 2.75rem;
  border-bottom: .2rem dotted var(--color-gris-4);
  margin-bottom: 1rem;
}

.DatosEmpresa__bajada {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.25;
}

.DatosEmpresa__fecha {
  font-weight: bold;
  color: var(--color-gris-4);
}