.DatosEmpresa {
  padding-top: 4rem;
}

.DatosEmpresa__nombre {
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--color-gris-4)
}

.DatosEmpresa__subtitulo {
  font-weight: 600;
  font-size: 2.5rem;
}